:root{
    --color-primary: #371B58;
    --color-secondary: #63BCAC;
    --color-white: #ffffff;
    --color-btn: #061930;
    --color-hover: #c1a1e7;
}
.wrapper_auth{
    width: 100%;
    max-width: 1366px;
    min-height: 100vh;
}
.wrapper_auth p,
.wrapper_auth span{
    width: 300px;
    height: 50px;
}
.wrapper_auth img{
    width: 50%;
    max-width: 472px;
}
.wrapper_auth .wrapper_btn{
    width: 50%;
    max-width: 472px;
    min-height: 250px;
}
.btn-login{
    height: 40px;
    border: none;
    border-radius: 5px;
    color: var(--color-white);
    background-color: var(--color-primary);
    transition: all .3s ease-in;
}
.btn-login:hover{
    background-color: var(--color-hover);
}