.wrapper_button {
    margin: 2rem 0 1.5rem 0;
}

.button_next {
    max-width: 177px;
    background: var(--color-btn);
    border-radius: 12px;
    margin-left: 1.5rem;
}

.button_back {
    max-width: 177px;
    background: var(--color-white);
    border-radius: 12px;
    border: 1px solid var(--color-btn);
    color: var(--color-btn);
}

.button_next:hover {
    background: var(--color-btn);
}

.button_back:hover {
    background: var(--color-white);
    border: 1px solid var(--color-btn);
    color: var(--color-btn);
}