:root{
    --color-primary: #371B58;
    --color-secondary: #63BCAC;
    --color-white: #ffffff;
    --color-btn: #061930;
    --color-hover: #c1a1e7;
}
.wrapper_title {
    max-width: 56rem;
    margin-top: 1rem;
}

.wrapper_title h4 {
    margin-bottom: 2rem;
}

.wrapper_Envios_form {
    border: 1px solid var(--color-detail);
    border-radius: 1.12rem;
    max-width: 50rem;
    margin-top: 1rem;
}

.wrapper_Envios_form h5 {
    margin-bottom: 1.2rem;
}


.wrapper_Envios_form .row_control .form-control {
    border-radius: 12px;
    margin-top: 1rem;
}

.wrapper_Envios_form .form-check {
    margin-right: 3.1rem;
}

.wrapper_Envios_form .row_control .form-label {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}