:root{
    --color-primary: #371B58;
    --color-secondary: #63BCAC;
    --color-white: #ffffff;
    --color-btn: #061930;
    --color-hover: #c1a1e7;
}
.navbar{
    color: var(--color-white);
    background-color: var(--color-primary);
    transition: all .3s ease-in;
}
.navbar .logo_menu img{
    width: 220px;
    height: 70px;
}
.navbar .wrapper_enlaces{
    max-width: 1024px;
}
.navbar .wrapper_enlaces .navbar-nav{
    width: 100%;
}
.nav-link,
.nav-link:visited{
    color: var(--color-white);
}
.nav-link:hover{
    color: var(--color-secondary);
}
.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before{
    background-color: var(--color-secondary);
}
.navbar-toggler:focus{
    box-shadow: 0 0 0 var(--color-secondary);
}
.navbar .dropdown-menu{
    background-color: var(--color-primary);
    transition: all .3s ease-in-out;
}
.navbar .dropdown-item{
    color: var(--color-white);
    background-color: var(--color-primary);
}
.navbar .dropdown-item:hover{
    color: var(--color-btn);
    background-color: var(--color-hover);
}
.navbar .dropdown-menu[data-bs-popper]{
    margin-top: 0;
}
