:root{
    --color-primary: #371B58;
    --color-secondary: #63BCAC;
    --color-white: #ffffff;
    --color-btn: #061930;
    --color-card: #fcfcfc;
}
.wrapper_footer{
    width: 100%;
    min-height: 120px;
    font-size: .9rem;
    color: var(--color-white);
    background-color: var(--color-primary);
}
.wrapper_footer a{
    color: var(--color-white);
    font-size: .85rem;
    font-weight: 500;
}
.wrapper_footer a:hover{
    color: var(--color-secondary);
    font-weight: 500;
}
.footer{
    max-width: 1366px;
}
.footer .footer_rrss{
    width: clamp();
}
.copyright{
    width: 100%;
}